@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro!";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.Mensagem == null)
{
    <p>Opss, Ocorreu um erro!!!</p>
    <p>Mas não se preocupe, nossa equipe já foi informada e está trabalhando para resolvê-lo</p>
}
else
{
    ViewData["Title"] = Model.Titulo;

    <p>Código @Model.CodeErro<span>.</span> @Model.Mensagem</p>
}
